<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Basic Sessions</title>
    </head>
    <body>
        {% if user.is_authenticated %}
            <h3><a href="{% url 'account:login' %}" >Home</a></h3>
            <h3><a href="{% url 'account:login' %}" >Login</a></h3>
            <h3><a href="{% url 'account:signup' %}">Signup</a></h3>
            <h3><a href="{% url 'genre:all' %}">Genre</a></h3>
            <h3><a href="{% url 'posts:all' %}">Posts</a></h3>
        {% else %}
            <h3><a href="{% url 'home' %}">Home</a></h3>
            <h3><a href="{% url 'account:login' %}">Login</a></h3>
            <h3><a href="{% url 'account:signup' %}">Signup</a></h3>
            <h3><a href="{% url 'genre:all' %}">Genre</a></h3>
        {% endif %}
        {% block content %}
        {% endblock %}
    </body>
    </html>
</html>